.baner{
    position: relative;

}
.banner {
    position: relative;
    top: 25px;
    background: #FFF;
    border: 1.5px solid rgb(46, 46, 46);
    box-sizing: border-box;

    outline: 0;
    overflow: hidden;
  
    &::before {
      content: "";
      font-family: Arial;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -50%;
      left: -50%;
      height: 200%;
      width: 200%;
      box-sizing: border-box;
      background-color: #2f6a68;
      border-radius: 40%;
      animation: spin 5s ease-out infinite;
    }
  }
  
  @keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(-100%) rotate(360deg);
      }
    }
  
  