.ptag {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 4px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(90deg, #e5e1e1, #2f6a68, #2f6a68);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}