body {
   height: 500px;
   overflow-y: scroll;
}
 .information a{
    display: flex;
    align-items: center;
    /* background-color: #a3bdbc; */
    padding: 5px 5px;
    color: #fff;
    border-radius: 12px;
 }


 .container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    min-height: 500px;
    width: 100%;
 }
 .container img{
    width: 200px;
    padding: 5px 5px;
    background-color: #fff;
    border: 1px solid #a3bdbc;
    border-radius: 50px;
    margin:10px;
 }
 .description{
    color: grey;
    width: 250px;
    font-size: 1.1rem;
    margin-bottom: 10px;
 }
 .category{
    margin-bottom: 10px;
 }
 .button{
   position: fixed;
   top: 20px;
   right: 30px;
    text-align: center;
    /* background-color: #a3bdbc; */
    
    align-items: center;
    justify-content: center;
 }
 .buttons{
 padding: 8px;
   /* margin-top: 20px; */
   background-color: #a3bdbc;
   border-radius: 50%;
   font-size: 20px;
   line-height: 13px;
   border: 1px solid #a3bdbc;
   /* width: 150px;
   height: 50px; */
 }
