.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.products{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sidebar{
    display: flex;
    align-content: center;
  
    border-radius: 10px;
    margin-bottom:4px ;
    margin-top: 4px;
    /* width: 500px; */
    align-items: center;
    /* position: sticky;
    top: 4px; */
}
.mylist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sidebar li{
    padding: 30px;
    color:rgba(9, 32, 50, 0.848);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-weight: ; */
    text-align: center;
    
}
.sidebar .mynav{
    width: 112px;
    height: 122px;
    background: rgb(174,216,230);
    background: -moz-linear-gradient(0deg, rgba(174,216,230,0.75) 0%, rgba(255,255,255,0.65) 88%);
    background: -webkit-linear-gradient(0deg, rgba(174,216,230,0.75) 0%, rgba(255,255,255,0.65) 88%);
    background: linear-gradient(0deg, rgba(174,216,230,0.75) 0%, rgba(255,255,255,0.65) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aed8e6",endColorstr="#ffffff",GradientType=1);  
      border: 1px solid rgba(174,216,230,0.75) ;
/* margin-bottom: 2px; */
/* margin-top: 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    justify-content: center;
    border-radius: 15px;



}

