.sidebar{
    display: flex;
    background-color: #ffff;
    align-content: center;
    /* border-top: 1px solid white; */
    padding: 10px;
    margin-bottom:20px ;
    align-items: center;
    position: sticky;
    top: 121px;

}
.mylist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sidebar li{
padding: 14px;
padding-bottom: 0;
width: 100px;
    color:rgb(17, 13, 13);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-weight: ; */
    text-align: center;
    
}
.sidebar .mynav{
    /* height: 100px; */
/* background: rgb(113,200,209);
background: -moz-linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.45) 55%);
background: -webkit-linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.45) 55%);
background: linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.65) 45%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71c8d1",endColorstr="#ffffff",GradientType=1); */
/* margin-bottom: 30px; */
margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    justify-content: center;
    border-radius: 15px;
}
.myicon{
    font-size: 2.3rem;
    padding: 10px;
    color: #3b6160;
}
 /* .selected{
     background-color: #bdc7c6; 
    border-bottom: 1px inset #2f6a68;
    border-radius: 8px;
}  */
  .myswiper{
    /* width: 80px !important;
    height: 100px !important; */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

  }