.sidebar{
    display: flex;
    background-color: transparent;
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:24px ;
    margin-top: 24px;
    border-bottom: 1px solid black;
    /* width: 500px; */
    align-items: center;
    /* position: sticky;
    top: 4px; */
}
.mylist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sidebar li{
padding: 10px;
    color:rgb(68, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-weight: ; */
    text-align: center;
    
}
.sidebar .mynav{
    width: 80px;
    height: 110px;
/* background: rgb(113,200,209);
background: -moz-linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.45) 55%);
background: -webkit-linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.45) 55%);
background: linear-gradient(0deg, #8fc1c0 0%, rgba(255,255,255,0.65) 45%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71c8d1",endColorstr="#ffffff",GradientType=1); */
/* margin-bottom: 30px; */
margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    justify-content: center;
    border-radius: 15px;
}
.myicon{
    font-size: 2.3rem;
    padding: 10px;
    color: #3b6160;
}
 /* .selected{
     background-color: #bdc7c6; 
    border-top: 1px solid #2f6a68;
    border-radius: 20px;
}  */
  .myswiper{
    width: 80px !important;
    height: 100px !important;
    /* border: 1px solid #3b6160; */
  }