.card{
    margin: 5px;
    width: 320px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    background: #ffff;

     border: 1px solid #2f6a68;
    border-radius: 5px;
padding-right: 0px;

    padding: 12px;

}
.card img{
    width: 50%;
    /* margin: auto; */
    border-radius:5px;
    height: 150px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #2f6a68; */
    /* padding: 5px; */
}
.card h3{
    color: black;
    font-size: 1.2rem;
    margin: 5px;
    /* padding: 10px; */
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}
.card p{
    color:black;
    background-color: #f6f5fb ;
    border-radius: 5px;
    /* padding: 5px; */
    font-size: 0.9rem;
    padding: 2%;
    margin: 5px;
    margin-top: 28px;
    /* opacity: 0.9; */
    text-align: end;
    
}
.actions{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.actions a{
    font-size: 1.5rem;
    height: 25px;
    color:#2f6a68;
    cursor: pointer;
}
.actions div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions div span{
    width: 20px;
    text-align: center;
    margin: 0 5px;
}
 .actions div button{
    color: darkcyan;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    line-height:17px;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
    
 }
 .mytitle{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    /* padding: 5px; */

    
 }