* body{
    background: rgb(174,216,230);
    background: -moz-linear-gradient(0deg, rgba(174,216,230,0.75) 0%, rgba(255,255,255,0.65) 100%);
    background: -webkit-linear-gradient(0deg, rgba(174,216,230,0.75) 0%, rgba(255,255,255,0.65) 100%);
    background: linear-gradient(0deg, rgba(174,216,230,0.75) 20%, rgba(255,255,255,0.65) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aed8e6",endColorstr="#ffffff",GradientType=1);   }
:root {
    --swiper-navigation-size: 28px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 5px;
    --swiper-navigation-color: rgb(51, 118, 118);
  }