* body{
    background: rgb(255, 255, 255);
  }
:root {
    --swiper-navigation-size: 28px;
    --swiper-navigation-top-offset: 45%;
    --swiper-navigation-sides-offset: 5px;
    --swiper-navigation-color: rgb(51, 118, 118);
  }