
:root {
    --swiper-navigation-size: 34px !important;
    --swiper-navigation-top-offset: 45%;
    --swiper-navigation-sides-offset: 1px;
    --swiper-navigation-color: rgb(51, 118, 118);
  }
  
 body{
    background: rgb(255, 255, 255);
    font-family: 'Shabnam-FD';
    

  }
  @font-face {
    font-family: "Shabnam-FD";
    src: url('./font/shabnam-font-v2.4.0/Farsi-Digits/Shabnam-FD.ttf');
    
   
  }
