.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    /* margin: 10px 10px 60px; */
    position: sticky;
    top: 0;
}
.mynotelist{
    background-color: rgba(229, 219, 219, 0.248);
    text-align: center;
    border: 1px solid #4c81c2;
    align-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    position: sticky;
    bottom: 40px;
    margin-left: 30px;
}

.mynotelist img{
    color: #347676;
    font-size: 2rem;
    margin: auto;
    font-weight: 600;
    width: 60px;

}

.mynotelist span{
     font-size: 0.9rem;
     width: 20px;
     color: #154545;
     height: 20px;
     font-weight: bold;
     line-height: 20px;
     background-color: rgb(255, 255, 255);
     border-radius: 50%;
     position: absolute;
     top: -10px;
     right: -10px ;
}